@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #e0e0e0;
    --color-secondary: #c0c0c0;
    --color-tertiary: #a0a0a0;
    --color-accent:  #FFAA00;
    --color-highlight: black;
}

/* Then define light and dark values */
@layer base {
   :root {
    --color-primary: #788599;
    --color-secondary: #233950;
    --color-tertiary: #335477;
    --color-accent:  #B5B800;
    --color-highlight: black;
  }
  [data-theme="dark"] {
    --color-primary: #000917;
    --color-secondary: #00162E;
    --color-tertiary: #002445;
    --color-accent:  #AE8708;
    --color-highlight: white;
  } 
}

.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}